services:
  db:
    extends:
      file: docker-compose.common.yml
      service: db

  api:
    build:
      target: migrate
    env_file:
      - .env
      - path: .env.local
        required: false
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
