/**
  Transition based on vuetify transitions :
  https://github.com/vuetifyjs/vuetify/blob/v2-stable/packages/vuetify/src/styles/generic/_transitions.scss
*/

.ezr_dialog-left-transition,
.ezr_dialog-right-transition {
  &-enter-active,
  &-leave-active {
    pointer-events: none !important;
  }

  &-enter, &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }

  &-enter-to, &-leave {
    opacity: 1;
  }
}

.ezr_dialog-left-transition {
  &-enter, &-leave-to {
    transform: translateX(-100%);
  }
}

.ezr_dialog-right-transition {
  &-enter, &-leave-to {
    transform: translateX(100%);
  }
}